.word_style {
    width: 600px;
    margin: auto;
    background-color: #ffffff;
}
.text_main {
    margin: 30px;
    font-size: 18px;
    font-family: "Times_New_Roman";
}
.text_header {
    margin:  30px;
    font-size: 30px;
    font-family: "Times_New_Roman";
}
.img_out {
    width: 20px;
    height: 20px;
}
.background {
    background-color: #f0f0f0;
    width: 700px;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 760px;
}
.text_out {
    background-color: #f7f7f7;
    margin-top: 60px;
    height: auto;
    padding: 30px;
    padding-bottom: 20px;
    font-family: "Times_New_Roman";
}